body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#viewer {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

	#viewer .viewport {
		width: 100%;
		height: 90%;
	}

	#viewer .toolbox {
		width: 100%;
		height: 10%;
	}

.toolbox .button {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.toolbox label {
	margin-right: 5px;
}
